<template>
  <div id="app">
    <div class="container">
      <div class="col-md-8">
        <h2><router-link to="/index">Inscrito</router-link>></h2>
        <router-link to="/create"
          class="btn btn-sm btn-primary">Se inscrever
          </router-link>
          <router-view/>
      </div>
    </div>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'app',
  components: {
    HelloWorld
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
